@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .title {
        @apply bg-gradient-to-tr from-purple-300 to-purple-600 bg-clip-text text-transparent;
    }

    .text-border {
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    }
}

body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: hsl(var(--nextui-purple));
    border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: hsl(var(--nextui-purple)) var(--sb-track-color);
    }
}
